__pycache__/
.vscode/settings.json
Untitled.ipynb
Untitled1.ipynb
*-checkpoint.ipynb
*-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
BA/.vscode/settings.json
*.p
*.pyc
lsf*
BA/feature_BA.pdf
S2DHM/data/
S2DHM/s2dhm/output.txt
*.mp4
S2DHM/s2dhm/output*
S2DHM/s2dhm/results/
S2DHM/results/
S2DHM/s2dhm/small_test.py
S2DHM/s2dhm/submit.sh
S2DHM/s2dhm/submit2.sh
output*.txt
scripts.txt
*.npz
data/